<div class="container">  
  <div class="board-form-group">
    <H3 class="title">Welcome to Sudoku Puzzle</H3>
    <h6 class="game-intro">Enter a valid sudoku puzzle and press Ready to Start!</h6>
    <div class="sudoku-board">
      @for (control of sudokuFormArray.controls; let i = $index; track i;) {
        <div>
          <input 
            class="cell"
            [formControl]="control" 
            [ngClass]="{
              'border-thick-right': (i + 1) % 3 == 0,
              'border-thick-left': i % 9 == 0,              
              'bottom-border-thick': dataRow[i].thirdRow ,
              'border-thick-bottom': dataRow[i].sixthRow,
              'false-antwort': invalidCellIndexes.includes(i),
              'invalid-entry': control.invalid              
             }" >
        </div>
      }
    </div>    
    <button class="button-reset" type="button" (click)="reset()">Reset</button>
    <button class="button-ready" type="button" (click)="ready()">Ready</button> 
    <button class="button-solve" type="button" (click)="solve()">Solve</button> 
    
    <div class="solution-succes" *ngIf="isValid">
      <p>Congratulations!!!</p>
    </div> 
    <div class="auto-solution" *ngIf="isAutoSolved">
      <p> Solution Found in {{solutionTime }} milliseconds</p>
    </div>
  </div>
  <div>
    <div class="difficulty-selection">
      <div>
        <div>
          <label>Select Your Level</label>
        </div>
        <label>
          <input type="radio" name="difficulty" (change)="setLevel('easy')" checked> Easy
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="difficulty" (change)="setLevel('medium')"> Medium
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="difficulty" (change)="setLevel('hard')"> Hard
        </label>
      </div>
    </div>    
  </div>
</div>

