<div class="mt-10 ml-10">
  <h2 class="text-2xl text-sky-600 font-semibold">Interests</h2>
  <div class="flex flex-col mt-8 gap-8 items-center mb-10 md:flex-row">
    <div class="flex flex-col justify-center border-2 border-stone-400 size-72 shadow cursor-pointer">
      <img class="h-42 mt-2 rounded" src="assets/tech.png">
      <label class="flex flex-col justify-start items-center mb-2 mt-20 text-fuchsia-800 font-bold">New Technologies</label>
    </div>
    <div class="flex flex-col justify-center border-2 border-stone-400 size-72">
      <img class="size-62" src="assets/biking.png">
      <label class="flex flex-col justify-center items-center mt-16 text-fuchsia-800 font-bold">Biking</label>
    </div>
    <div class="flex flex-col justify-center border-2 border-stone-400 size-72">
      <img class="size-62" src="assets/skating.png">
      <label class="flex flex-col justify-center items-center mt-20 text-fuchsia-800 font-bold">Ice Skating</label>
    </div>
  </div>

  <div class="f">
    <div class="flex flex-col mt-8 gap-8 items-center mb-10 md:flex-row">
      <div class="flex flex-col justify-center border-2 border-stone-400 size-72 shadow cursor-pointer">
        <img class="h-42 mt-2 rounded" src="assets/climb.jpg">
        <label class="flex flex-col justify-start items-center mb-2 text-fuchsia-800 font-bold mt-20">Climbing</label>
      </div>
      <div class="flex flex-col justify-center border-2 border-stone-400 size-72">
        <img class="size-62" src="assets/travel.jpeg">
        <label class="flex flex-col justify-center items-center mt-16 text-fuchsia-800 font-bold">Traveling</label>
      </div>
      <div class="flex flex-col justify-center border-2 border-stone-400 size-72">
        <img class="size-62" src="assets/boat.png">
        <label class="flex flex-col justify-center items-center mt-20 text-fuchsia-800 font-bold">Kayaking</label>
      </div>
    </div>

  </div>
</div>



