<div class="mt-6 ml-2">
  <h2 class="text-2xl text-sky-600 font-semibold">My Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8">
    <div class="bg-white shadow-md rounded-lg overflow-hidden md:size-72">
      <a href="https://lebenindeutschland.mehmetkargaci.de/" target="_blank"
         class="cursor-pointer text-lg font-medium text-sky-500">
        <img class="rounded size-64" src="assets/lebenin.png">
        <label class="flex flex-col justify-start items-center mb-2 cursor-pointer mt-24">Leben in Deutschland
          App</label>
      </a></div>
    <div class="flex flex-col justify-center items-center bg-white shadow-md rounded-lg overflow-hidden md:size-72">
      <a routerLink="/calculator" class="cursor-pointer text-lg font-medium mt-2 text-sky-500">
        <img class="rounded size-64" src="assets/calculator.png">
        <label class="flex flex-col justify-center items-center mb-2 cursor-pointer">Calculator App</label>
      </a></div>
    <div class="flex flex-col justify-center items-center bg-white shadow-md rounded-lg overflow-hidden md:size-72">
      <a routerLink="/sudoku" class="cursor-pointer text-lg font-medium mt-2 text-sky-500">
        <img class="rounded size-64" src="assets/sudoku.png">
        <label class="flex flex-col justify-center items-center mb-2 cursor-pointer">Sudoku App</label>
      </a></div>
  </div>
</div>
