<div class="mt-10 ml-10">
  <h2 class="text-2xl text-sky-600 font-semibold">Skills</h2>
  <div class="text-sm sm:text-lg sm:font-light mt-8 ">
    <div class="flex h-8">
      Javascript
      <div class="h-full bg-blue-400 w-1/4 ml-4 rounded-lg"></div>
    </div>
    <div class="flex h-8 mt-2">
      Angular
      <div class="h-full bg-blue-400 w-1/4 ml-6 rounded-lg"></div>
    </div>
    <div class="flex h-8 mt-2">
      Tailwindcss
      <div class="h-full bg-blue-400 w-1/4 ml-6 rounded-lg"></div>
    </div>
    <div class="flex h-8 mt-2">
      Agile Development
      <div class="h-full bg-blue-400 w-1/4 ml-6 rounded-lg"></div>
    </div>
    <div class="flex h-8 mt-2">
      Networking
      <div class="h-full bg-blue-400 w-2/4 ml-6 rounded-lg"></div>
    </div>
  </div>
</div>
