
<div class="container flex flex-col justify-center items-center mt-4">
  <div class=" border-b-cyan-100 flex flex-col justify-center items-center min-h-full">
    <h1 class="text-2xl m-2 text-center text-fuchsia-700 font-medium">Angular Calculator</h1>
    <div class="p-4">
      @for (r of results; track $index) {
        <div class="pl-4"> {{ r.operation }} = {{  r.result }}</div>
      }
      <div >
        <input class="m-4 p-2 text-xl border-2 border-cyan-400 w-72 rounded" [formControl]="inputControl" >
      </div>
      <div class="text-rose-700" *ngIf="errormessage">
        invalid enterence.
      </div>
    </div>
    <div class="grid grid-cols-4 w-72 h-48" >
      <button *ngFor="let button of buttons" class="text-2xl m-1 p-4 bg-[#ebecf0] inline-flex justify-center items-center border-2 shadow-md rounded-md text-stone-700 hover:text-sky-500 hover:shadow-xl focus:ring-1" type="button" (click)="pressNum(button)">{{button}}</button>
      <button class="border-2 rounded-md text-stone-700 bg-[#ebecf0] h-14 m-1 hover:text-sky-500 hover:shadow-xl focus:ring-1" type="button" (click)="clear()">Clear</button>
      <button class="border-2 rounded-md m-1 col-span-2 text-stone-700 bg-[#ebecf0]  hover:text-sky-500 hover:shadow-xl focus:ring-1" type="button" (click)="deleteAll()">Delete All</button>
      <button class="border-2 rounded-md m-1 text-stone-700 bg-[#ebecf0] hover:text-sky-500 hover:shadow-xl focus:ring-1" type="button" (click)="calculate()">=</button>
    </div>
  </div>

</div>
